just_mqtt/flow_2.json
[
    {
        "id": "d898a511c0262bd8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ba08a9d3ddc9889",
        "type": "ui_text",
        "z": "d898a511c0262bd8",
        "group": "42ec46c109bf4d85",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "2742ccf5dcc96eb4",
        "type": "mqtt in",
        "z": "d898a511c0262bd8",
        "name": "",
        "topic": "boardC3/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a213f68ed3d1b8de",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 120,
        "wires": [
            [
                "5f76ee23c70ac903",
                "0dc1f0b362bae598"
            ]
        ]
    },
    {
        "id": "5f76ee23c70ac903",
        "type": "function",
        "z": "d898a511c0262bd8",
        "name": "on/off",
        "func": "if (msg.payload) {\n    msg.payload = 'Online 🟢';\n} else  {\n    msg.payload = 'Offline 🔴';\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 100,
        "wires": [
            [
                "2ba08a9d3ddc9889"
            ]
        ]
    },
    {
        "id": "0dc1f0b362bae598",
        "type": "function",
        "z": "d898a511c0262bd8",
        "name": "when offline",
        "func": "if (msg.payload) {\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 200,
        "wires": [
            [
                "4d7e669dec558f9b",
                "9f76b78f0b16949b",
                "1b4f4e8e16107d6f"
            ]
        ]
    },
    {
        "id": "4d7e669dec558f9b",
        "type": "ui_switch",
        "z": "d898a511c0262bd8",
        "name": "",
        "label": "LED",
        "tooltip": "",
        "group": "42ec46c109bf4d85",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "d36ad9db284a1abd"
            ]
        ]
    },
    {
        "id": "d36ad9db284a1abd",
        "type": "mqtt out",
        "z": "d898a511c0262bd8",
        "name": "",
        "topic": "boardC3/led/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a213f68ed3d1b8de",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "1febc573136b7e38",
        "type": "mqtt in",
        "z": "d898a511c0262bd8",
        "name": "",
        "topic": "boardC3/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a213f68ed3d1b8de",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 300,
        "wires": [
            [
                "4d7e669dec558f9b"
            ]
        ]
    },
    {
        "id": "8d69f04b03186bf0",
        "type": "ui_button",
        "z": "d898a511c0262bd8",
        "name": "",
        "group": "7bbbb14542677425",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Deep sleep 60s",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "60",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 680,
        "wires": [
            [
                "eac8deda4893c53d"
            ]
        ]
    },
    {
        "id": "eac8deda4893c53d",
        "type": "mqtt out",
        "z": "d898a511c0262bd8",
        "name": "",
        "topic": "boardC3/sleep/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a213f68ed3d1b8de",
        "x": 650,
        "y": 720,
        "wires": []
    },
    {
        "id": "11bf19236a225988",
        "type": "mqtt in",
        "z": "d898a511c0262bd8",
        "name": "",
        "topic": "boardC3/vcc",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a213f68ed3d1b8de",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "9f76b78f0b16949b",
                "1b4f4e8e16107d6f"
            ]
        ]
    },
    {
        "id": "9f76b78f0b16949b",
        "type": "ui_gauge",
        "z": "d898a511c0262bd8",
        "name": "",
        "group": "1028939f8ba7615d",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vcc now",
        "label": "units",
        "format": "{{value}}",
        "min": "2000",
        "max": "3000",
        "colors": [
            "#63452c",
            "#f8e45c",
            "#57e389"
        ],
        "seg1": "2300",
        "seg2": "2800",
        "diff": false,
        "className": "",
        "x": 400,
        "y": 460,
        "wires": []
    },
    {
        "id": "1b4f4e8e16107d6f",
        "type": "ui_chart",
        "z": "d898a511c0262bd8",
        "name": "",
        "group": "1028939f8ba7615d",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Vcc chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "3000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 400,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "2b6c18f056ebebdd",
        "type": "mqtt in",
        "z": "d898a511c0262bd8",
        "name": "",
        "topic": "boardC3/lps",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a213f68ed3d1b8de",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 640,
        "wires": [
            [
                "7c573e9ad082ee65"
            ]
        ]
    },
    {
        "id": "7c573e9ad082ee65",
        "type": "ui_chart",
        "z": "d898a511c0262bd8",
        "name": "",
        "group": "7bbbb14542677425",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Loops per second",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 430,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "42ec46c109bf4d85",
        "type": "ui_group",
        "name": "Default",
        "tab": "10a31f03b973fc66",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a213f68ed3d1b8de",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.82",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7bbbb14542677425",
        "type": "ui_group",
        "name": "Debug",
        "tab": "10a31f03b973fc66",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1028939f8ba7615d",
        "type": "ui_group",
        "name": "Voltage",
        "tab": "10a31f03b973fc66",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "10a31f03b973fc66",
        "type": "ui_tab",
        "name": "ESP32-C3 SuperMini",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]